* { margin:0; padding:0; box-sizing:border-box; }
header,nav,a{
	background-color:#D1D0CE;
	float:left;
	color: white;
	font-family: arial,sans-serif;
	text-transform: lowercase;
	text-decoration: none;
	text-align: center;
	padding-left: 20px; 
	display: block;
}

a:hover{
	background-color:#aaaaaa;
}
.hero{
	background-image: url("poppystore_counter.jpg");
	width:100%;
	height:auto;
	text-align: center;
	display: block;
}
.wrapper{
	position:relative;
	text-align: center;
	bottom: 600px;
}
body{
	background-color:#D1D0CE;
	color:white;
	font-size:16px;
	font-family:Arial, sans-serif;
}
a:hover {
	background-color:#aaaaaa;
}
h1{
 	font-size:2em;
 	font-family:Georgia,serif;
 	text-align: center;
 	margin:.5em;
}
p{
	text-align: center;
	font-size:44px;
}
.two_column {
	background-color:#D1D0CE;
	display:block;
	float:left;
	padding: 20px;
	width:50%;
	margin: 0, 20px;
}
.clearfix:after{
	visibility: hidden;
	display:block;
	font-size:0;
	content: " ";
	clear: both;
	height:0;
}
