* { margin:0; padding:0; box-sizing:border-box; }
nav{
	background-color:E5E4E2;
	font-family: arial,sans-serif;
}
a:hover{
	background-color:#aaaaaa;
}
#hero{
	background-image:poppystore_counter.jpg;
}
body{
	background-color:#5C5858;
	color:white;
	font-size:16px;
}
header{
	font-family:Arial, sans-serif;
	font-weight: normal;
}
h1{
 	font-size:2em;
 	font-family:Georgia,serif;
 	text-align: center;
 	margin:.5em;
}
p{
	text-align: center;
	font-family:Arial,sans-serif;
}
#two_column {
	background-color:#E5E4E2;
	padding: 20px;
    font-family:Arial,sans-serif 
}
#left{
	background-color:#E5E4E2;
	padding:20px;
	float:left;
	width:45%;
}
#right{
	background-color:#E5E4E2;
	padding:20px;
	float:right;
	width: 45%;
}
.clearfix:after{
	visibility: hidden;
	display:block;
    font-size:0;
    content: " ";
    clear: both;
    height:0;
}