* { margin:0; padding:0; box-sizing:border-box; }
header,nav{
	background-color:#D1D0CE;
	float:left;
	color:white;
	font-family: arial,sans-serif;
	text-align: center;
	padding-left:20px; 
	display: block;
}

a:hover{
	background-color:#aaaaaa;
}
.hero{
	background-image:url(poppystore_counter.jpg;)
	background-color:transparent;
	width:100%;
	text-indent: center;
	display: block;

}
body{
	background-color:#D1D0CE;
	color:white;
	font-size:16px;
	font-family:Arial, sans-serif;
}
a:hover {
	background-color:#aaaaaa;
}
h1{
 	font-size:2em;
 	font-family:Georgia,serif;
 	text-align: center;
 	margin:.5em;
}
p{
	text-align: center;
}
.two_column {
	background-color:#D1D0CE;
	display:block;
	float:left;
	padding: 20px;
	width:50%;
}
.clearfix:after{
	visibility: hidden;
	display:block;
	font-size:0;
	content: " ";
	clear: both;
	height:0;
}
